# Configuration Backend
MONGO_URL=mongodb+srv://username:password@cluster.mongodb.net/fromagerie_db
CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
PORT=3015

# Configuration Frontend (si nécessaire)
REACT_APP_API_BASE_URL=http://localhost:3015